.headerPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerPrincipal-nav {
  display: flex;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  height: 260px;
  flex-wrap: wrap;
}

.contenidoPrincipal-cursos {
  display: flex;

  flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
  display: flex;
  width: 20%;
}

.videoSobre .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoSobre-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.videoSobre-video {
  flex-grow: 0.5;
}
.videoSobre-sobre-list {
  flex-grow: 0.5;
}
.videoSobre-button {
  width: 100%;
  margin: 0 auto;
}
.rodapePrincipal-contatoForm-submit {
  height: 2.6rem;
  margin: 0rem -1rem;
}

@media (max-width: 480px) {
  .headerPrincipal .container {
    flex-direction: column;
    text-align: center;
  }

  .headerPrincipal-nav {
    flex-direction: column;
    width: 100%;
  }

  .contenidoPrincipal-cursos {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contenidoPrincipal-cursos-link {
    display: flex;
    width: 100%;
  }
  .videoSobre .container {
    flex-direction: column;
    text-align: center;
  }
  .videoSobre-sobre {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .videoSobre-button {
    width: 100%;
    margin: 0 auto;
  }

  .rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }
  .rodapePrincipal-patrocinadores .container {
    display: flex;
    flex-direction: column;
  }

  .rodapePrincipal-patrocinadores-list {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .rodapePrincipal-contatoForm {
    width: 100%;
  }
}
